/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

// ngx pagination
.myPagination{
  float: right;
}
.myPagination .ngx-pagination .current {
  background: rgb(73, 83, 219);
  border-radius: 4px;
}
