*{
  box-sizing: border-box;
}
@font-face {
  font-family: my-digital-font;
  src: url('../../../assets/fonts/LCD.TTF');
}
.error{
  border: 1px solid red;
}
input:hover{
cursor: pointer;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.pageHeader{
  font-size: 25px;
  color: rgb(11, 11, 77);
  padding-left: 20px;
}
.class1{
  float: left;
}
.timer{
  float: right;
  font-size: 25px;
  color: rgb(66, 91, 128);
  margin-right: 20px;
}

.head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

// Digital Timer
.metaData{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  margin-right: 20px;
}
.metaData p{
  font-size: 20px;
  color: rgb(66, 91, 128);
  margin-bottom: 5px;
  margin-top: 5px;
}
.digitalFont{
  font-family: my-digital-font;
}

.test{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.test p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(47, 58, 71);
}

.radioContent{
  color: rgb(47, 58, 71);
  font-style: italic;
}

.result{
  margin-left: 20px;
  margin-right: 20px;
  // margin-top: 10px;
}
.result h2{
  margin-top: 0;
  margin-bottom: 30px;
}
.result p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(47, 58, 71);
}

// Angular Material Styles
.example-form {
  // min-width: 150px;
  // max-width: 500px;
  // width: 100%;
  flex: 1;
  margin-left: 20px;
}

.example-full-width {
  width: 100%;
}
@media (max-width: 445px) {
  .testAgainButton{
    margin-top: 12px;
  }
}
@media (max-width: 244px) {
  .timer{
    float: left;
  }
}
